<% currently_at 'Spending' %>
<h1 class="mb-4">Description:
  <%= @spending.description%></h1>
<h1 class="mb-4">Amount:
  <%= @spending.amount%></h1>
<h1 class="mb-4">Category:
  <%= @spending.category%></h1>